* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
}
