.git
.gitignore
.DS_Store
*.log
node_modules
.meteor/local
.meteor/package-metadata.v2.json
.meteor/package-metadata.v2.lock
.vscode
.idea
.flowbite-react
apps/*/node_modules
apps/*/dist
apps/*/.meteor/local
services/*/node_modules
services/*/dist
tests
*.md
