# Meteor Application Configuration
MONGO_URL=mongodb://mongo:27017/simple-chat
ROOT_URL=http://localhost:3000
PORT=3000
SIGNALING_URL=ws://localhost:8080

# Signaling Server Configuration
SIGNALING_PORT=8080

# Optional: MongoDB Admin
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password

# Optional: CoTURN Configuration
TURNSERVER_ENABLED=1
TURNSERVER_PORT=3478
TURNSERVER_TLS_PORT=5349
